*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;

}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    
}

.wrapper {
    background-color: hsl(220, 15%, 55%);
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 16px;
    gap: 15px;
}

.container *{
    max-width: 250px;
    background-color: hsl(0, 0%, 100%);
}


.image-container img {
    border-radius: 15px;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.attribution {
    position: absolute;
    bottom: 20px;

}